.App {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.lists {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list .text{
  border: 1px solid green;
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
  width: 200px;
}